<h1>All Status Updates!</h1>



<table>
  <% @updates.each do |update| %>
  <thead>
    <tr>
      <th>Status</th>
      <th>User<th>
      <th>Likes!</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%=link_to update.status, update %></td>
      <td><%= update.user %></td>
      <td><%= pluralize(update.number_of_likes, "like") %><td>
    </tr>
  </tbody>
  <% end %>
</table>



<%= link_to "New Update Status", new_update_path %>
