<h1>All Status Updates!</h1>

<% @updates.each do |update| %> 

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>User<th>
      <th>Likes!</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= update.status %></td>
      <td><%= update.user %></td>
      <td><%= update.number_of_likes %></td>
    </tr>
  </tbody>
</table>

<% end %>

<%= link_to "New Update Status", new_update_path %>
