<h1>All Status Updates!</h1>

<% @updates.each do |update| %> s

<div class = "well">
<%= update.status %>
<%= update.user %>
<%= update.number_of_likes %>

</div>

<% end %>

<%= link_to "New Update Status", new_update_path %>
